@using Bilten.Data.Models;
@model List<Dogadjaj>



@{
    ViewData["Title"] = "Lista2";
    Layout = "~/Views/Shared/_Layout-Kontrolor.cshtml";
}
<div>
    <h2 style="display:inline-block">Svi prijavljeni događaji</h2>
    <a href="/KontrolorModul" class="btn btn-primary" style="float:right;margin-right:50px"><i class="fa fa-backward"></i></a>
</div>
<hr />
@using (Html.BeginForm("Index", "Dogadjaj", FormMethod.Post))
{
    <div class="input-group">
        <span class="input-group-append">

            <input class="form-control" type="text" placeholder="po vrsti, mjestu, opisu.." name="SearchString">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
}

<br />

<div class="table-responsive">
    <table class="table table-sm table-bordered" style="width:95%" cellspacing="0">
        <thead>
            <tr>
                <th>Kategorija</th>
                <th>@Html.ActionLink("Vrste", "Index", new { sortOrder = ViewBag.Vrste })</th>
                <th>@Html.ActionLink("Mjesto", "Index", new { sortOrder = ViewBag.Mjesto })</th>
                <th>Org. Jedinica</th>
                <th>@Html.ActionLink("Datum prijave", "Index", new { sortOrder = ViewBag.DatumPrijave })</th>
                <th>Prijavitelj</th>
                <th>Opis</th>
                <th>Odabran</th>
                <th></th>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Kategorije.Naziv</td>
                        <td>@x.Vrste.Naziv</td>
                        <td>@x.MjestoDogadjaja</td>
                        <td>@x.OrganizacionaJedinica.Naziv</td>
                        <td>@x.DatumPrijave</td>
                        <td>@x.Prijavitelj</td>
                        <td>@x.Opis</td>
                        <td>
                            @if (x.Odabran == true)
                            {
                                <a href="/KontrolorModul/Dogadjaj/Odabran?=@x.Id" class="btn btn-success">DA</a>
                            }
                            else
                            {
                                <a href="/KontrolorModul/Dogadjaj/NijeOdabran?=@x.Id" class="btn btn-danger">NE</a>

                            }

                        </td>
                        <td>
                            <a href="/KontrolorModul/Dogadjaj/Detalji?=@x.Id" title="Detalji"><i class="fa fa-fw fa-info-circle fa-2x text-primary"> </i> </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<br />
<hr />
<br />
