
@{
    ViewData["Title"] = "UrediKorisnika";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
@using Bilten.Web.Areas.AdministratorModul.ViewModels.Korisnici;
@model KorisniciUrediVM


<div>
    <h2 style="display:inline-block">Uredi profil <b>"@Model.username"</b></h2>
    <a href="/AdministratorModul/Korisnici" class="btn btn-primary" style="float:right;margin-right:50px"><i class="fa fa-backward"></i></a>
    <hr />
</div>
<form action="/AdministratorModul/Korisnici/SnimiPromjene" style="width:50%;">
    <input type="text" name="korisnikId" value="@Model.KorisnikId" hidden />
    <input type="text" name="nalogId" value="@Model.KorisnickiNalogId" hidden />

    <label>Ime i Prezime:</label>
    <input type="text" name="imeiprezime" class="form-control" value="@Model.ImePrezime" />
    <br />

    <label>JMBG:</label>
    <input type="text" name="jmbg" class="form-control" value="@Model.JMBG" />
    <br />

    <label>E-mail:</label>
    <input type="text" name="email" class="form-control" value="@Model.email" />
    <br />

    <label>username:</label>
    <input type="text" name="username" class="form-control" value="@Model.username" />
    <br />


    <br /><br />
    <input type="submit" value="Snimi" class="btn btn-danger" />
    <a href="/AdministratorModul/Korisnici/PromjeniPassword?=@Model.KorisnikId" class="btn btn-primary" style="margin-left:10px;">Promjeni password</a>
</form>
<br /><br />
<hr />
