
@{
    ViewData["Title"] = "Detalji";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
@using Bilten.Web.Areas.AdministratorModul.ViewModels.Dogadjaj;
@model DogadjajDetaljiVM


<div>
    <h2 style="display:inline-block">Detalji</h2>
    <a href="/AdministratorModul/Dogadjaj/Lista2" class="btn btn-primary " style="float:right;margin-right:20px"><i class="fa fa-backward"></i></a>

    <hr />
</div>
<form style="width:70%">
    <label><b>Vrsta događaja:</b></label>
    <input type="text" class="form-control" name="name" value="@Model.Vrste" readonly />
    <br />
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label><b>Podorganizaciona jedinica:</b></label>
                <input type="text" name="name" class="form-control" value="@Model.PodorganizacioneJedinice" readonly />
                <br />
            </div>
            <div class="col-md-6">
                <label><b>Organizaciona jedinica:</b></label>
                <input type="text" class="form-control" name="name" value="@Model.OrganizacioneJedinice" readonly />
                <br />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label><b>Datum događaja:</b></label>
                <input type="datetime" name="datumDog" class="form-control" value="@Model.DatumDogadjaja" readonly />
                <br />
            </div>
            <div class="col-md-6">
                <label><b>Datum prijave:</b></label>
                <input type="datetime" name="datumPrijave" class="form-control" value="@Model.DatumPrijave" readonly />
                <br />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label><b>Mjesto događaja:</b></label>
                <input type="text" name="mjesto" class="form-control" value="@Model.MjestoDogadjaja" readonly />
                <br />
            </div>
            <div class="col-md-6">
                <label><b>Prijavitelj:</b></label>
                <input type="text" name="prijavitelj" class="form-control" value="@Model.Prijavitelj" readonly />
                <br />
            </div>
        </div>
    </div>

    <label><b>Opis:</b></label>
    <textarea class="form-control" readonly>@Model.Opis"</textarea>
    <br />

    <a href="/AdministratorModul/Dogadjaj/Uredi?=@Model.DogadjajID" class="btn btn-success">Dodaj/Izmjeni mjere</a>

    <br />
    <div id="mjereStavke"></div>
    <br />
    <br />
    <br />
</form>


<script>
      $.get("/AdministratorModul/DogadjajiMjere/Index?=@Model.DogadjajID", function (rezultat, status) {
          $("#mjereStavke").html(rezultat);
    });
</script>

