
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-Operater.cshtml";
}
@using Bilten.Web.Areas.OperaterModul.ViewModels.Vozila;
@model VozilaIndexVM

<div>
    <h4 style="display:inline-block">Registar vozila</h4>
    <a href="/OperaterModul/Vozila/Dodaj" class="btn btn-primary " style="float:right;margin-right:20px">Dodaj vozilo</a>
    <a href="/OperaterModul/Home" class="btn btn-primary " style="float:right;margin-right:20px"><i class="fa fa-home"></i></a>

    <hr />
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Br. reg oznake</th>
            <th>Godište</th>
            @*<th>Gorivo</th>*@
            <th>Boja</th>
            <th>Emisioni standard</th>
            <th>Vlasnik</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
        <tr>
            <td>@x.Marka</td>
            <td>@x.Model</td>
            <td>@x.BrojRegistarskeOznake</td>
            @*<td>@x.GodinaProizvodnje</td>*@
            <td>@x.Gorivo</td>
            <td>@x.Boja</td>
            <td>@x.EmisioniStandard</td>
            <td>@x.Vlasnik</td>
            <td width="10"><a href="/OperaterModul/Vozila/Detalji?=@x.VoziloId" class="btn btn-info">Odaberi</a></td>
        </tr>

        }
    </tbody>
</table>
<hr />
<br />
<br />





